.textarea {
  width: 100%;
  height: 100vh;
  padding: 20px 10px;
  font-size: 2rem;
  outline: none;
  box-sizing: border-box;
  border: none;
}

textarea::placeholder {
  color: #DEDEDE
}

.markdown {
  width: 50%;
  height: 100vh;
  padding: 20px;
  outline: none;
  color: #DEDEDE;
}

.container {
  display: flex;
  margin-top: 60px;
}